table {
  border-collapse: collapse;
  border: 1px Solid #000;
  width: 100%;
}
th {
  background-color: #000;
  color: #fff;
}
tr td {
  border: 1px Solid #000;
}
/* tr > td:first-child {
  padding-left: 100px;
  text-align: left;
} */

tr:nth-child(2n) {
  background-color: darkgrey;
}
